.container#slide_menu.open
  .row
    .section
      .col.s1.menu_close.btn.wave-effect.right.neg_btn_color
        = "X"
  - if user_signed_in?
    .row.text_wh
      .col.s12.center-align
        = link_to image_tag(current_user.avatar, {:class=>"menu_icon"}),user_path(current_user.id)
        .section
      .col.s12.fs_60.center-align
        = current_user.nickname
      .col.s12.fs_40.center-align
        .col.s4.waves-effect.waves-light
          = link_to user_watchproducts_path(current_user) do
            %i.fa.fa-tree
              = ": " + "#{current_user.watchproducts.count}"
        .col.s4.waves-effect.waves-light
          = link_to user_favproducts_path(current_user) do
            %i.fa.fa-heart
              = ": " + "#{current_user.favproducts.count}"
        .col.s4.waves-effect.waves-light
          = link_to user_reviews_path(current_user) do
            %i.fa.fa-comments-o
              = ": " + "#{current_user.reviews.count}"
    .divider
  - else
    .row.text_wh
      .col.s12.center-align
        = link_to image_tag("default_user.png", {:class=>"menu_icon"}),new_user_session_path
        .section
      .col.s12.fs_60.center-align
        = "名無しのストーナーさん"
      .col.s12.fs_40.center-align
        .col.s4
          = link_to new_user_session_path do
            %i.fa.fa-tree
              = ": 0"
        .col.s4
          = link_to new_user_session_path do
            %i.fa.fa-heart
              = ": 0"
        .col.s4
          = link_to new_user_session_path do
            %i.fa.fa-comments-o
              = ": 0"
    .divider
  .row
    .col.s12.side_menu_items
      = link_to root_path do
        .col.s12.waves-effect.waves-light
          %i.fa.fa-home
            = "ホーム"
          .divider
      = link_to products_path do
        .col.s12.waves-effect.waves-light
          %i.fa.fa-search
            = "ストレインを探す"
          .divider
      = link_to search_products_path do
        .col.s12.waves-effect.waves-light
          %i.fa.fa-pencil-square-o
            = "レビューを書く"
          .divider
      .col.s12.waves-effect.waves-light
        - if user_signed_in?
          = link_to user_path(current_user) do
            %i.fa.fa-id-card-o
              = "マイページ"
          .divider
  - if user_signed_in?
    .row
      .col.s12
        .col.s5.btn.waves-effect.left.menu_btn_text
          = link_to "プロフィール編集", edit_user_registration_path
        .col.s5.btn.waves-effect.right.neg_btn_color.menu_btn_text
          = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    .row
      .col.s12
        .col.s5.btn.waves-effect.left.menu_btn_text
          = link_to "サインアップ", new_user_registration_path
        .col.s5.btn.waves-effect.right.menu_btn_text
          = link_to "ログイン", new_user_session_path

  .row
    .section
    .col.s12.font_wh.fs_20.bold
      = "日本初、大麻だけについて真剣に考えるメディア。"
      .section
    .col.s12
      = link_to image_tag("highclass_logo_bw.png", {:target => ["_blank"], :class => "ad_size"}), 'http://thehighclass.jp/'


