= render 'shared/navBar'
= render 'layouts/productNewShow/'
.bg_lg.c_pw
  .container
    .row
      .col.s12.center-align.fs_60.bold
        = "最近のレビュー"
        .divider
      - @theStrainsReviews.each do |review|
        .col.s12
          .col.s3
            = review.review
          .col.s3
            = review.user.nickname
            = review.user.avatar


