.section
.fs_60.center-align.pt_14.bold
  = "レビュが多いストレイン"
  .section
= render 'shared/topMostReviewed'
.fs_60.center-align.bold
  = "評価の高いレビュー"
  .section
= render 'shared/topMostVotedRev'
.fs_60.center-align.bold
  = "最近のレビュー"
  .section
= render 'shared/topRecentRev'
= link_to root_path do
  .fs_40.center-align.bold.top_productLink
    = "More Contents Are Coming Soon..."
    %br/
    = "Stay Smoking' & Wait Them"
    .section