= render 'shared/navBar'
.show_top_img_place
  = image_tag @product.productImage, class: "show_top_img_size pt_14"
  .container.show_absolute.show_posi_detail
    .row
      .col.s12.card.z-depth-3.trans_bg_grey.text_wh.center-align
        .col.s12.fs_60
          = @product.productName
    .row.card.z-depth-3.trans_bg_grey.text_wh.center-align
      .col.s12.fs_60
        = "★★★★☆ : 4.0"
        .divider
      .col.s12.fs_50
        = @product.dominant
        .divider
      .col.s12.fs_30
        = @product.thc
        .divider
      .col.s12.fs_30
        = "合計レビュー数:40"
    .row
      .col.right
        = link_to new_product_review_path (@product) do
          .i.material-icons.cyan.btn-floating.pulse.edit.btn_detail edit
.bg_lg.c_pw
  .container
    .row
      .col.s12.center-align.fs_60.bold
        = "#{@product.productName} のレビュー"
        .section
      .col.s12
        = form_for @review, url: {action: "create"}, html: {class: "nifty_form"} do |f|
          .input-field.col.s12
            %textarea.materialize-textarea{:placeholder => "レビューを書いて、同じ症状や疾患を持つ方たちの為に、ベストなストレインが選べるように手伝って下さい。", :class => "for_product_new", :name => "review[review]", "data-length" => "4200", :required => "required"}
            %label{:for => "textarea1", :class => "review_label"} レビュー (必須)
            .section
          .row
            .col.s12.new_rate_label.valign-wrapper
              .col.s3.push-s9.right
                .input-field.col.s12
                  .number_field.col.s12{:value => "50", :min => "0", :max => "100", :required => "required", :class => "for_product_new",}
                    = f.number_field :rate
                    %label{:for => "rate"} 100点満点中
              .col.s9.pull-s3.review_label.left このストレインのスコア (必須)
            .col.s12
              .col.s7.review_label 画像の投稿
              .col.s5.right
                .col.s12.input-field.btn.waves-effects
                  = f.file_field :reviewImage
          .section
          .btn.waves-light.waves-effects.right
            = f.submit "投稿する"
