!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kusawake
    = csrf_meta_tags
    = stylesheet_link_tag    'http://kusawake.net:3000/assets/application-1a1e7929b2316369bb934bc0669a462567eec98b066a09c33604c68422b0b8f3.css', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag('favicon_kusa.ico')
  %body
    = yield
